---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from "astro";

export async function getStaticPaths() {
  const teams = await getCollection("teams");
  return teams.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'teams'>
}
    
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout frontmatter={{title: entry.data.title}}>
  <label for="coach">Trainer:&nbsp;</label>
  <span id="coach">{entry.data.coach}</span>
  <Content />
</Layout>
