<footer class="footer footer-center bg-blue py-4">
  <div class="flex text-white">
    <a href="/kontakt">Kontakt</a>
    <div class="divider divider-horizontal"></div>
    <a href="/datenschutz">Datenschutz</a>
  </div>
</footer>
