---
import { getCollection } from "astro:content";
import NavigationItem from "./NavigationItem.astro";
import NavigationGroupItem from "./NavigationGroupItem.astro";
import Logo from "./Logo.astro";

const teams = await getCollection("teams");
---

<header>
  <nav class="navbar">
    <div class="flex-1"><Logo /></div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <NavigationGroupItem
          prefix="/mannschaften"
          title="Mannschaften"
          items={teams.map((team) => ({
            path: team.slug,
            title: team.data.title,
          }))}
        />
        <NavigationItem path="/handball" title="Handball" />
        <NavigationItem path="/kinderturnen" title="Kinderturnen" />
        <NavigationItem path="/frauen-fitness" title="Frauen Fitness" />
      </ul>
    </div>
  </nav>
</header>
