---
import { isRenderTemplateResult } from "astro/dist/runtime/server/render/astro";
import type { Props as NavigationItemProps } from "./NavigationItem.astro";
import NavigationItem from "./NavigationItem.astro";

export type Props = {
  prefix: string;
  title: string;
  items: NavigationItemProps[];
};
const { prefix, title, items } = Astro.props as Props;
---

<li>
  <details>
    <summary>{title}</summary>
    <ul class="p-2 bg-base-100">
      {
        items.map((item) => (
          <NavigationItem {...item} path={`${prefix}/${item.path}`} />
        ))
      }
    </ul>
  </details>
</li>
