---
export type Props = {
  path: string;
  title: string;
  year?: string;
};
const { path, title, year } = Astro.props as Props;
---

<li>
  <a href={path}>{title}{year && <>&nbsp;({year})</>}</a>
</li>
