---
import { getCollection } from "astro:content";

const teams = await getCollection("teams");
---

<nav>
  <a href="/">Home</a>
  <ul class="nested">
    <span>Mannschaften</span>{
      teams.map((team) => (
        <li>
          <a href={`/mannschaften/${team.slug}`}>{team.data.title}</a>
        </li>
      ))
    }
  </ul>
  <a href="/handball">Handball</a>
  <a href="/kinderturnen">Kinderturnen</a>
  <a href="/frauen-fitness">Frauen Fitness</a>
</nav>
