---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const sponsors = await getCollection("sponsors");
---

<div class="flex flex-row flex-wrap">
  {
    sponsors.map(({ data: { homepage, logo, text } }) => (
      <a
        href={homepage}
        target="_blank"
        class="flex shrink basis-full flex-col justify-between p-2 md:basis-1/2 lg:basis-1/3"
      >
        {logo ? (
          <Image
            src={logo}
            alt={text}
            class="max-h-32 w-auto max-w-[80%] !rounded-none md:max-w-full"
          />
        ) : (
          <div />
        )}
        <div class="text-center">{text}</div>
      </a>
    ))
  }
</div>
