---
export const WidgetType = {
  Games: "games",
  First: "first",
  Second: "second"
}

export type Props = {
  widget: keyof typeof WidgetType;
};

const { widget } = Astro.props as Props;
---
<div class="mb-16">
{
  widget === WidgetType.Games && (
    <div class="h-[80vh]">
      <div id="bfv1690660243450" class="contents">Laden...</div>
      <script type="text/javascript">
        const options = { height: "100%", width: "100%", selectedTab: BFVWidget.HTML5.vereinTabs.spiele, colorResults: "rgb(29, 35, 42)" , colorNav: "undefined", colorClubName: "rgb(46, 48, 133)", backgroundNav: "rgb(46, 48, 133)"}
        BFVWidget.HTML5.zeigeVereinSpiele("00ES8GNJVO00000VVV0AG08LVUPGND5I", "bfv1690660243450", options)
      </script>
    </div>
  )
}
{widget === WidgetType.First && <div class="h-[80vh]"><div id="bfv1690699416105" class="contents">Laden...</div>
<script>
BFVWidget.HTML5.zeigeMannschaftKomplett("016PLNQ0AO000000VV0AG811VUDIC8D7", "bfv1690699416105", { height: "100%", width: "100%", selectedTab:BFVWidget.HTML5.mannschaftTabs.spiele, colorResults: "rgb(46, 48, 133)" , colorNav: "" , colorClubName : "rgb(46, 48, 133)" , backgroundNav: "rgb(46, 48, 133)"});
</script></div>}
{widget === WidgetType.Second && <div class="h-[80vh]"><div id="bfv1690699940535" class="contents">Laden...</div>
<script>
BFVWidget.HTML5.zeigeMannschaftKomplett("02M9PS66LK000000VS5489B1VV4JLPLE", "bfv1690699940535", { height: "100%", width: "100%", selectedTab:BFVWidget.HTML5.mannschaftTabs.spiele, colorResults: "rgb(46, 48, 133)" , colorNav: "undefined" , colorClubName : "rgb(46, 48, 133)" , backgroundNav: "rgb(46, 48, 133)"});
</script></div>}
</div>